@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

body {
  margin: 0;
}

.root {
  display: grid;
  gap: 5px;
  grid-template-columns: 260px 750px 450px;
}

.navbar {
  margin: 10px 20px;
}

.logo {
  height: 40px;
}

.navbar > h5 {
  color: #dca946;
  font-weight: bolder;
}

.navbar > ul {
  list-style: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.navbar > ul > li {
  line-height: 200%;
  font-size: 150%;
}

.main-story {
  margin: 10px 20px;
}

.main-story > h1, .main-story > h4 {
  font-weight: bolder;
}

.side-stories {
  margin: 10px 5px;
}

.story {
  width: 400px;
  border-bottom: 1px solid silver;
}

.story > h3 {
  font-weight: bolder;
}